#d1
{
background-color:pink;
color:blue;
font-family:verdana
}
#d2
{
background-color:yellow;
color:green;
font-family:timesnewroman
}
#d3
{
background-color:cyan;
font-family:arial;
}
#d4
{
background-color:gray;
color:red;
font-family:gothic
}
td
{
background-color:pink;
}
#d5
{
background-color:#ffa07a;
color:#cceeff;
font-family:stencil
}
#d7
{
background-color:#808000;
font-family:georgia
}
#d8
{
background-color:#f08080;
font-family:ostwald
}
#d6
{
background-color:#800080
}
p
{
background-color:#b22222;
font-family:century;
color:yellow
}